@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4 text-center">Välkommen till Garage 2.0</h1>
    <div class="col-12  p-5">
        <ul>
        <li><h3>Det kostar 50 kronor per timme.</h3></li>
         <li><h3>För att starta din parkering tryck på "Starta.</h3></li>
        <li><h3>För att betala clicka på "Stoppa".</h3></li>
        <li><h3>För att se parkerade fordon clicka på "Visa".</h3></li>
        </ul>
     </div>

 </div>
