@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="/wwwroot/css/site.css/">

<div class="headertext-index">
    <h1 class="display-4">Welcome to the Parking Application Garage 2.0</h1>

</div>
