@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4 text-center">Welcommen till Garage 2.0</h1>
    <div class="col-12  p-5">
        <ul>
        <li>Det kostar 50 kronor per timme.V
         <li>För att starta din parkering tryck på starta.</li>
        <li>För att betala clicka på "Stop".</li>
        <li>För att se parkerade fordon clicka på "Visa".</li>
        <li>För att updatera klicka på "Uppdatera"</li>
        </ul>
     </div>

 </div>
