@model Ovning12Garage2._0.Models.ViewModel
@{
    ViewData["Title"] = "Unpark";
}

<link rel="stylesheet" href="site.css">
<script src="site.js"></script>

<body>
<h2>Receipt for checkout - Parking Application</h2>

<div id="myReceipt" class="Receipt">
  <div class="receipt-content">
    <span class="close">&times;</span>
    <div class="header-receipt">
        <h3>Receipt</h3>
    </div>
    <div class="column1">
    <div class="TextColumn1">
    <h4>Parked Vehicle: @Html.DisplayFor(model => model.LicenseNumber) </h4>
      </div>
      <div class="TextColumn2">
            <h4>Time of Arrival: @Html.DisplayFor(model => model.TimeOfArrival)</h4>
      </div>
      <div class="TextColumn3">
            <h4>Time of Departure:  @Html.DisplayFor(model => model.TimeOfDeparture)</h4>
      </div>
      <div class="TextColumn4">
            <h4>Price per hour: 10 SEK</h4>
      </div>
          </div>
</div>
</div>
</body>