html {
    background-color: black burlywood;
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: bisque;
    margin-bottom: 60px;
}

footer {

    text-align:center;
}